@import "partials/vars";

.background-black {
    background-color:#303030 ;
}

.cdComicImg {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img-comics {
    width:calc(100% / 6);
    font-size: 14px;
    margin-top: 20px;   
    
    img {
        width: 90%;
        height: 25vh;
        object-fit: cover;
        object-position: top;
    }
}

.loadMore {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 25px;
         span {
            padding: 10px 50px;
            color: white;
            background-color: #0c7cec;
        }
}

.background-blu-light{
    background-color: #0c7cec;
}

.comics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    div {
        display: inline-flex;
        align-items: center;
        color: white;
        span {
            margin-left: 10px;
        }
        img {
            width: 2.5vw;
        }
    }
}